/*these styles are needed for basic functioning of the application*/

#pup {
	position                : absolute;
	width                   : 375px;
	padding                 : 5px;
	font-size               : 11pt;
	color                   : #000;
	background-image        : url(bg-pup.png);
	font-family             : "courier new", tahoma, verdana, arial, sans-serif;
	font-weight             : bold;
	text-align              : left;
	border                  : 2px solid #333;
	z-index                 : 200; /* aaaalways on top*/
}

p {
	margin-top: 0em;
	margin-bottom: 0.5em;
}